<% title("Create New Content", true) %>

<% progress_bar do %>
  <div id="rootwizard">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul>
            <li><a href="/my401k/plan_sponsor/create_new_content/select_section#tab1" data-toggle="tab">Select Section</a></li>
            <li><a href="/my401k/plan_sponsor/create_new_content/select_layout#tab2" data-toggle="tab">Select Layout</a></li>
            <li><a href="#tab3" data-toggle="tab">Create Title/Body</a></li>
            <li><a href="#tab4" data-toggle="tab">Create Tile</a></li>
            <li><a href="#tab5" data-toggle="tab">Select Options</a></li>
            <li><a href="#tab6" data-toggle="tab">Finish</a></li>
          </ul>
        </div>
      </div>

      <!-- div id="bar" class="progress progress-striped active" -->
      <div id="bar" class="progress progress active">
        <div class="bar"></div>
      </div>

      <ul id="messages"></ul>
      <div id="current-product-id"></div>
      <div id="flag-first-time"></div>

      <div class="tab-content">
        <div class="tab-pane" id="tab1">
        1
        </div>
        <div class="tab-pane" id="tab2">
        2
        </div>
        <div class="tab-pane" id="tab3">
        3
        </div>
        <div class="tab-pane" id="tab4">
        4
        </div>
        <div class="tab-pane" id="tab5">
        5
        </div>
        <div class="tab-pane" id="tab6">
        6
        </div>
      </div><!-- .tab-content -->

    </div><!-- .navbar -->
  </div><!-- #rootwizard -->
<% end %>

