<h1>My401k::CreateNewContent#optional_elections</h1>
<p>Find me in app/views/my401k/create_new_content/optional_elections.html.erb</p>



<div class="wrapper">


<p>Create New Content</p>
<ul class="breadcrumb">
  <li><a href="#">Section</a> <span class="divider">/</span></li>
  <li><a href="#">Layout</a> <span class="divider">/</span></li>
  <li><a href="#">Title/Body</a> <span class="divider">/</span></li>
  <li><a href="#">Tile</a> <span class="divider">/</span></li>
  <li class="active">Elections <span class="divider">/</span></li>
  <li><a href="#">Finish</a></li>
</ul>


<div class="pagePreferences">
  
  
  <p>Select your page preferences</p>
  
  <form>
    <fieldset>
      
      <label class="checkbox">
        <input type="checkbox">Automatically Publish
        <input type="text" placeholder="DD/MM/YY">
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Automatically De-publish
        <input type="text" placeholder="DD/MM/YY">
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Display author's name
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Hide publishing timestamp
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Disable printing button
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Disable text copying
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Disable like button
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Disable feedback button
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Disable questions button
      </label>
      
      <label class="checkbox">
        <input type="checkbox">Non-registered person may view this page
      </label>
      
    </fieldset>
  </form>
  
  
</div><!-- /.pagePreferences -->


<a href="#"><div class="btn pull-left">Previous</div></a>
<a href="#"><div class="btn pull-right">Next</div></a>

</div><!-- /.wrapper -->