<% title("Select Section", true) %>

<div class="wrapper">

<p>Create New Content</p>
<ul class="breadcrumb">
  <li class="active">Section <span class="divider">/</span></li>
  <li><a href="#">Layout</a> <span class="divider">/</span></li>
  <li><a href="#">Title/Body</a> <span class="divider">/</span></li>
  <li><a href="#">Tile</a> <span class="divider">/</span></li>
  <li><a href="#">Elections</a> <span class="divider">/</span></li>
  <li><a href="#">Finish</a></li>
</ul>


<div class="mainSectionArticle pull-left">
  <div>
    <p>Main Section (Article)</p>
    <div class="mainSectionTiles pull-left">
      <p>Select a main section topic for the content product you wish to create.</p>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <p>About Plan</p>
        </div><!-- /.mainSectionTile -->
      </a>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <p>Manage Account</p>
        </div><!-- /.mainSectionTile -->
      </a>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <p>Helpful Resources</p>
        </div><!-- /.mainSectionTile -->
      </a>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <p>Special Offers</p>
        </div><!-- /.mainSectionTile -->
      </a>
      
    </div><!-- /.mainSectionTiles -->
  </div>
</div><!-- /.mainSectionArticle -->



<div class="mainSectionArticle pull-left Small">
  <div>
    <p>Enrollment Page</p>
    <div class="mainSectionTiles pull-left Small">
      <p>Create an enrollment page</p>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <p>Enrollment Page</p>
        </div><!-- /.mainSectionTile -->
      </a>
      
    </div><!-- /.mainSectionTiles -->
  </div>
</div><!-- /.mainSectionArticle -->



<div class="mainSectionArticle pull-left Small">
  <div>
    <p>Blog Post</p>
    <div class="mainSectionTiles pull-left Small">
      <p>Create a blog post.</p>
      
      <a href="#">
        <div class="mainSectionTile pull-left">
          <p>Blog Post</p>
        </div><!-- /.mainSectionTile -->
      </a>
      
    </div><!-- /.mainSectionTiles -->
  </div>
</div><!-- /.mainSectionArticle -->


</div><!-- /.wrapper -->
