<h1>My401k::CreateNewContent#select_layout</h1>
<p>Find me in app/views/my401k/create_new_content/select_layout.html.erb</p>

<div class="wrapper">
  
  <p>Create New Content</p>
<ul class="breadcrumb">
  <li><a href="#">Section</a> <span class="divider">/</span></li>
  <li class="active">Layout<span class="divider">/</span></li>
  <li><a href="#">Title/Body</a> <span class="divider">/</span></li>
  <li><a href="#">Tile</a> <span class="divider">/</span></li>
  <li><a href="#">Elections</a> <span class="divider">/</span></li>
  <li><a href="#">Finish</a></li>
</ul>


<p>Select a layout for your main page</p>



<div class="layoutTileRow">
  <div class="layoutTile">
    
  </div><!-- /.layoutTile -->
</div><!-- /.layoutTileRow -->

<a href="#"><div class="btn pull-left">Previous</div></a>
<a href="#"><div class="btn pull-right">Next</div></a>
  
</div><!-- /.wrapper -->