<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">  
</head>

<body> 
  <div class="container">
    <div class="well">
      <div class="row">
        <div class="span7">
          <h2>Logo and Slogan here</h2>
        </div><!-- /.span7 -->
        <div class="span3">
          <h3>Sponsor Logo here</h3>
        </div><!-- /.span3 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <div class="well">
      <div class="row">
        <div class="span10">
        <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="#">What is it?</a></li>
            <li class="divider-vertical"></li>
            <li class="active"><a href="#">How we make it easy</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Why do it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Pricing &amp; Support</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Join now</a></li>
          </ul>
        </div><!--/.navbar-inner -->
        </div><!-- /.navbar -->
        </div><!-- /.span10 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <!--<div class="well">-->
      <div class="row">
        <div class="span6 bordered">
          <div class="marginLeft">
            <h3>Making set-up easy</h3>
            <ul>
                <li>We provice suggested pages for each section</li>
                <li>Get a kick-start with a start-up content plug-in bundle</li>
                <li>Hire a plan consultant to set up your portal at a discounted rate</li>
                <li>Use Excel to import required data</li>
                <li>Invite participatns via email with one click</li>
            </ul>
            
            <h3>Keeping it fresh</h3>
            <ul>
                <li>Set up new pages or post plan notices in minutes</li>
                <li>Use content plug-ins for timely blog posts &amp; to create new pages with ease</li>
                <li>Hire a consultant to review &amp; update your portal annually</li>
                <li>Give administrator rights for content creation to plan providers and internal administration staff</li>
                <li>Required internal approvals route to manager's email for a two-click review and approval process</li>
            </ul>
            
          </div><!-- /.marginLeft -->
        </div><!-- /.span6 -->
        <div class="span4 bordered">
          <div class="centered">
            <img src="image.png">
          </div><!-- /.centered -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    <div class="span2 tall">
      <div class="centered">
        <img src="profilepic.png">
      </div>
      <div class="centered">
        <h3>Your Advertising banner would go here.</h3>
      </div>
    </div><!-- /.span2 -->
    <!--</div><!-- /.well -->
      <div class="well">
        <footer>
          Copyright info
        </footer>
      </div><!-- /.well -->
  </div><!-- /.container -->
</body>
</html>