<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">  
</head>

<body> 
  <div class="container">
    <div class="well">
      <div class="row">
        <div class="span7">
          <h2>Logo and Slogan here</h2>
        </div><!-- /.span7 -->
        <div class="span3">
          <h3>Sponsor Logo here</h3>
        </div><!-- /.span3 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <div class="well">
      <div class="row">
        <div class="span10">
        <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="#">What is it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">How we make it easy</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Why do it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Pricing &amp; Support</a></li>
            <li class="divider-vertical"></li>
            <li class="active"><a href="#">Join now</a></li>
          </ul>
        </div><!--/.navbar-inner -->
        </div><!-- /.navbar -->
        </div><!-- /.span10 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <!--<div class="well">-->
      <div class="row">
        <div class="span6 bordered">
          <div class="marginLeft">
            <form class="form-horizontal paddingTop">
                
                <div class="control-group">
                    <label class="control-label" for="sponsorName">Plan sponsor's Name:</label>
                    <div class="controls">
                        <input type="text" id="sponsorsName" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="planName">Plan Name:</label>
                    <div class="controls">
                        <input type="text" id="planName" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="yourName">Your Name:</label>
                    <div class="controls">
                        <input type="text" id="yourName" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="email">Your email address:</label>
                    <div class="controls">
                        <input type="text" id="email" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="phone">Your contact phone:</label>
                    <div class="controls">
                        <input type="text" id="phone" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="password">Password:</label>
                    <div class="controls">
                        <input type="text" id="password" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="passwordConfirm">Password confirmation</label>
                    <div class="controls">
                        <input type="text" id="passwordConfirm" placeholder="">
                        <span class="red">*</span>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <textarea type="text" rows="3" id="address" placeholder=""></textarea>
                        <span class="red">*</span>
                    </div>
                </div>
                
                <label class="checkbox">
                    <input type="checkbox" value="">
                    Do you want to use a secureID?
                </label>
                
                <button class="btn" type="submit" value="submit">Submit</button>
                
            </form>
          </div><!-- /.marginLeft -->
        </div><!-- /.span6 -->
        <div class="span4 bordered">
          <div class="centered">
            <img src="image.png">
          </div><!-- /.centered -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    <div class="span2 tall">
      <div class="centered">
        <img src="profilepic.png">
      </div>
      <div class="centered">
        <h3>Your Advertising banner would go here.</h3>
      </div>
    </div><!-- /.span2 -->
    <!--</div><!-- /.well -->
  </div><!-- /.container -->
  <div class="well">
    <footer>
      Copyright info
    </footer>
  </div><!-- /.well -->
</body>
</html>