@import url("bootstrap/css/bootstrap.min.css");

body {
  margin-top: 20px;
}

.tall {
  position: absolute;
  top: 35px;
  right: 50px;
  min-height: 450px;
  width: 190px;
  background-color: white;
  margin-right: 15px;
  border: 1px solid black;
}

.centered {
  margin: 29px;
  position: static;
}

.bordered {
  border: 1px solid #BBB;
  background-color: #EEE;
  min-height: 550px;
}

.relative {
  position: relative;
}

.relative0 {
  position: relative;
  bottom: 0;
}

.marginLeft {
  margin-left: 10px;
}

.paddingTop {
  padding-top: 15px;
}

.lightBlue {
  color: #66D;
}

.red {
  color: red;
}