@import "bootstrap/css/bootstrap.min.css";

body {
    margin-top: 20px;
}
.tall {
    background-color: white;
    border: 1px solid black;
    left: 970px;
    min-height: 450px;
    position: absolute;
    top: 19px;
    width: 190px;
}
.centered {
    margin: 29px;
    position: static;
}
.bordered {
    background-color: white;
    border: 1px solid #EEEEEE;
}
.relative {
    position: relative;
}
.relative0 {
    bottom: 0;
    position: relative;
}
.marginLeft {
    margin: 20px 20px 47px;
}
.lightBlue {
    color: #6666DD;
}
.red {
    color: red;
}

.row-main{
  margin-bottom: 2em;
}


