<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">  
</head>

<body> 
  <div class="container">
    <div class="well">
      <div class="row">
        <div class="span7">
          <h2>Logo and Slogan here</h2>
        </div><!-- /.span7 -->
        <div class="span3">
          <h3>Sponsor Logo here</h3>
        </div><!-- /.span3 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <div class="well">
      <div class="row">
        <div class="span10">
        <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li class="active"><a href="#">What is it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">How we make it easy</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Why do it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Pricing &amp; Support</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Join now</a></li>
          </ul>
        </div><!--/.navbar-inner -->
        </div><!-- /.navbar -->
        </div><!-- /.span10 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <!--<div class="well">-->
      <div class="row">
        <div class="span6 bordered">
          <div class="marginLeft">
            <h3>Plan providers come and go</h3>
            <h4>The participant experience should not.</h4>
            <h5>Create a comprehensive <span class="lightBlue">official plan website</span> where participants can...</h5>
            <ul>
              <li>Learn about ALL plan features</li>
              <li>Access plan documents &amp; required notices</li>
              <li>Learn how to manage their accounts</li>
              <li>Access resources to help them better invest &amp; prepare for retirement</li>
              <li>Enroll in the plan for the first time</li>
              <li>Access 3rd party special offers and discounts approved by the plan sponsor</li>
              <li>Receive informative and timely blog posts authored or selected by the plan sponsor</li>
            </ul>
          </div><!-- /.marginLeft -->
        </div><!-- /.span6 -->
        <div class="span4 bordered">
          <div class="centered">
            <img src="image.png">
          </div><!-- /.centered -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    <div class="span2 tall">
      <div class="centered">
        <img src="profilepic.png">
      </div>
      <div class="centered">
        <h3>Your Advertising banner would go here.</h3>
      </div>
    </div><!-- /.span2 -->
    <!--</div><!-- /.well -->
  <div class="well">
    <footer>
      Copyright info
    </footer>
  </div><!-- /.well -->
  </div><!-- /.container -->
</body>
</html>