<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">  
</head>

<body> 
  <div class="container">
    <div class="well">
      <div class="row">
        <div class="span7">
          <h2>Logo and Slogan here</h2>
        </div><!-- /.span7 -->
        <div class="span3">
          <h3>Sponsor Logo here</h3>
        </div><!-- /.span3 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <div class="well">
      <div class="row">
        <div class="span10">
        <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="#">What is it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">How we make it easy</a></li>
            <li class="divider-vertical"></li>
            <li class="active"><a href="#">Why do it?</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Pricing &amp; Support</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Join now</a></li>
          </ul>
        </div><!--/.navbar-inner -->
        </div><!-- /.navbar -->
        </div><!-- /.span10 -->
      </div><!-- /.row -->
    </div><!-- /.well -->
    <!--<div class="well">-->
      <div class="row">
        <div class="span6 bordered">
          <div class="marginLeft">
            <h3>Plan providers come and go</h3>
            <h4>The participant experience should not.</h4>
            <ul>
              <li><span class="lightBlue">Simplify</span> the participant experience</li>
              <li><span class="lightBlue">Raise awareness</span> of ALL plan offerings</li>
              <li><span class="lightBlue">Improve communication</span> with plan participants</li>
              <li>Help participants <span class="lightBlue">better appreciate</span> their employer-provided retirement benefits</li>
              <li>Better understanding = <span class="lightBlue">better participation</span></li>
              <li><span class="lightBlue">Stay connected</span> with former-employee participants</li>
              <li><span class="lightBlue">Adopt the best content</span> of what 3rd party non-providers have to offer</li>
              <li>Use <span class="lightBlue">collective bargaining power</span> of participant-base</li>
            </ul>
          </div><!-- /.marginLeft -->
        </div><!-- /.span6 -->
        <div class="span4 bordered">
          <div class="centered">
            <img src="image.png">
          </div><!-- /.centered -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    <div class="span2 tall">
      <div class="centered">
        <img src="profilepic.png">
      </div>
      <div class="centered">
        <h3>Your Advertising banner would go here.</h3>
      </div>
    </div><!-- /.span2 -->
    <!--</div><!-- /.well -->
  </div><!-- /.container -->
  <div class="well">
    <footer>
      Copyright info
    </footer>
  </div><!-- /.well -->
</body>
</html>