<h1>My401k::PlugInAuthor::ManageContent::PublishedProducts#product_summary_by_type_blog_post</h1>
<p>Find me in app/views/my401k/plug_in_author/manage_content/published_products/product_summary_by_type_blog_post.html.erb</p>
