<!DOCTYPE html>

<html>
<head>
    <title>Sample Layouts for My401k | Layout 1</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    
  <div class="top_nav">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">My401K</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
    
  </div><!-- /.top_nav -->
  <div class="row">
    <div class="span8 pull-left">
        <header class="hero-unit">
            <h1>Welcome to My401K!</h1>
            <p>Here you can access all the materials you need to successfully manage your 401k.</p>
        </header>
        
        <article>
            This article serves the purpose to Ero nyt han oli puna yhta sita enka kuin. Ankkurissa
            vietavaksi sisimpansa jos liikkeelle ela nae ota. Oli tai kas talveksi viikossa kuljemme
            poskille suinkaan. Liekin osansa varten on ei oikein emanta on ne nimeni. Koyha laine
            eivat siina et tuoma ei hanet ne. Koetan ne tietaa vienyt ei no varten se. Jaa uudesta
            sen eri loi minulta papalla muualta kajutta hukkaan. 
    
            Jos ota iso kun palkkioksi kirmaissut alullakaan purjelaiva. Vai karahtaa jai kirkolla
            valittaa. Karahtanut tai kitupiikki jos polvilleen kuitenkaan ota oljyisella. Jaksa
            ai mihin en jokin tahan ethan se. Ei ja elakoon pannaan ai vastasi on totinen. Korsu
            aikaa se se hullu jolta te herra. Ela kajuttaan tai sylyyksen laakariin kun. Aallokkoon
            kai jaa kokonainen oli suurtakaan hartaimman. En vuodeksi kevaalla en tyynessa se
            kallioon te. Paattaen antakoon hiivasin en ei se. 
    
            Ajattelin ne kasvoista ennenkuin ei koettelen. Puhuvatkin ai lintukarit me hartioihin te
            hyvastinsa. Kay jaanytta silmassa itseanne rukoilen toi sai. Aani ero joku muut iso
            niin ehka. Jo et se eroa enka sano sata mene. Pahaa paksu tai minka isa loi akkia jatti. 
        </article>
    
    </div><!-- /.pull-left -->
    
    <aside class="span4 pull-right">
        <h3>Check out these other great articles!</h3>
        
        <div class="article_preview">
            <h5>Taxes and your 401k</h5>
            <p>
                This article serves the purpose to Ero nyt han oli puna yhta sita enka kuin. Ankkurissa
                vietavaksi sisimpansa jos liikkeelle ela nae ota. Oli tai kas talveksi viikossa kuljemme
                poskille suinkaan. Liekin osansa varten on ei
            </p>
            <div class="btn btn-small btn-primary">Read more</div>
        </div><!-- /.article_preview -->
        
        <div class="article_preview">
            <h5>Living on a fixed income</h5>
            <p>
                Ajattelin ne kasvoista ennenkuin ei koettelen. Puhuvatkin ai lintukarit me hartioihin te
                hyvastinsa. Kay jaanytta silmassa itseanne rukoilen toi sai. Aani ero joku muut iso
                niin ehka. Jo et se eroa enka sano sata mene.
            </p>
            <div class="btn btn-small btn-primary">Read more</div>
        </div><!-- /.article_preview -->
        
        <div class="article_preview">
            <h5>401k matching and your Employer</h5>
            <p>
                Ela kajuttaan tai sylyyksen laakariin kun. Aallokkoon
                kai jaa kokonainen oli suurtakaan hartaimman. En vuodeksi kevaalla en tyynessa se
                kallioon te. Paattaen antakoon hiivasin en ei se.
            </p>
            <div class="btn btn-small btn-primary">Read more</div>
        </div><!-- /.article_preview -->
        
    </aside>
  </div><!-- /.row -->
    <div class="footer clear-both">
        <p>Copyright My401k, 2013</p>
    </div>
    
    
</div><!-- /.container -->

</body>
</html>
