<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="custom2.css">
</head>

<body>
<div class="container bg_green">
    
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#">My401k</a>
            
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
            </form>
            
            <ul class="nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            
        </div>
    </div>
    
    <div class="hero-unit margin_left margin_right textured bordered">
        <h2>My401k</h2>
        <h5>Where all your 401k resources can be found in one place.</h5>
        
        <form class="pull-right">
            <div class="btn btn-inverse">Start Your Search</div>
            <input type="text" class="search-query" placeholder="">
        </form>
        
    </div>
    
    <div class="row">
        
        <div class="span3">
            
            <aside class="margin_left well textured bordered">
                <h3>Articles related to what you are reading now</h3>
                
                <div class="article_preview top-border">
                    <h5>Taxes and your 401k</h5>
                    <p>
                        This article serves the purpose to Ero nyt han oli puna yhta sita enka kuin. Ankkurissa
                        vietavaksi sisimpansa jos liikkeelle ela nae ota. Oli tai kas talveksi viikossa kuljemme
                        poskille suinkaan. Liekin osansa varten on ei
                    </p>
                    <div class="btn btn-small btn-primary">Read more</div>
                </div><!-- /.article_preview -->
                
                <div class="article_preview top-border">
                    <h5>Living on a fixed income</h5>
                    <p>
                        Ajattelin ne kasvoista ennenkuin ei koettelen. Puhuvatkin ai lintukarit me hartioihin te
                        hyvastinsa. Kay jaanytta silmassa itseanne rukoilen toi sai. Aani ero joku muut iso
                        niin ehka. Jo et se eroa enka sano sata mene.
                    </p>
                    <div class="btn btn-small btn-primary">Read more</div>
                </div><!-- /.article_preview -->
                
                <div class="article_preview top-border">
                    <h5>401k matching and your Employer</h5>
                    <p>
                        Ela kajuttaan tai sylyyksen laakariin kun. Aallokkoon
                        kai jaa kokonainen oli suurtakaan hartaimman. En vuodeksi kevaalla en tyynessa se
                        kallioon te. Paattaen antakoon hiivasin en ei se.
                    </p>
                    <div class="btn btn-small btn-primary">Read more</div>
                </div><!-- /.article_preview -->
                
            </aside>
            
        </div>
        
        
        <div class="span9">
            
            <article class="well margin_right textured bordered">
                <header>
                    <h3>You &amp; Your 401k</h3>
                    <time class="pull-right">June 03, 2012</time>
                    <span class="clearfix"></span>
                    <p>This article serves the purpose to Ero nyt han oli puna yhta sita enka kuin. Ankkurissa
                        vietavaksi sisimpansa jos liikkeelle ela nae ota. Oli tai kas talveksi viikossa kuljemme
                        poskille suinkaan. Liekin osansa varten on ei oikein emanta on ne nimeni. Koyha laine
                        eivat siina et tuoma ei hanet ne. Koetan ne tietaa vienyt ei no varten se. Jaa uudesta
                        sen eri loi minulta papalla muualta kajutta hukkaan. </p>
                
                        <p>Jos ota iso kun palkkioksi kirmaissut alullakaan purjelaiva. Vai karahtaa jai kirkolla
                        valittaa. Karahtanut tai kitupiikki jos polvilleen kuitenkaan ota oljyisella. Jaksa
                        ai mihin en jokin tahan ethan se. Ei ja elakoon pannaan ai vastasi on totinen. Korsu
                        aikaa se se hullu jolta te herra. Ela kajuttaan tai sylyyksen laakariin kun. Aallokkoon
                        kai jaa kokonainen oli suurtakaan hartaimman. En vuodeksi kevaalla en tyynessa se
                        kallioon te. Paattaen antakoon hiivasin en ei se. </p>
                
                        <p>Ajattelin ne kasvoista ennenkuin ei koettelen. Puhuvatkin ai lintukarit me hartioihin te
                        hyvastinsa. Kay jaanytta silmassa itseanne rukoilen toi sai. Aani ero joku muut iso
                        niin ehka. Jo et se eroa enka sano sata mene. Pahaa paksu tai minka isa loi akkia jatti.
                    </p>
                </header>
                
            </article>
            
            <article class="well margin_right textured bordered">
                <header>
                    <h3>What can Your 401k do for You?</h3>
                    <time class="pull-right">November 27, 2012</time>
                    <span class="clearfix"></span>
                    <p>Jos ota iso kun palkkioksi kirmaissut alullakaan purjelaiva. Vai karahtaa jai kirkolla
                        valittaa. Karahtanut tai kitupiikki jos polvilleen kuitenkaan ota oljyisella. Jaksa
                        ai mihin en jokin tahan ethan se. Ei ja elakoon pannaan ai vastasi on totinen. Korsu
                        aikaa se se hullu jolta te herra. Ela kajuttaan tai sylyyksen laakariin kun. Aallokkoon
                        kai jaa kokonainen oli suurtakaan hartaimman. En vuodeksi kevaalla en tyynessa se
                        kallioon te. Paattaen antakoon hiivasin en ei se. </p>
                
                        <p>Ajattelin ne kasvoista ennenkuin ei koettelen. Puhuvatkin ai lintukarit me hartioihin te
                        hyvastinsa. Kay jaanytta silmassa itseanne rukoilen toi sai. Aani ero joku muut iso
                        niin ehka. Jo et se eroa enka sano sata mene. Pahaa paksu tai minka isa loi akkia jatti.</p>
                        
                        <p>This article serves the purpose to Ero nyt han oli puna yhta sita enka kuin. Ankkurissa
                        vietavaksi sisimpansa jos liikkeelle ela nae ota. Oli tai kas talveksi viikossa kuljemme
                        poskille suinkaan. Liekin osansa varten on ei oikein emanta on ne nimeni. Koyha laine
                        eivat siina et tuoma ei hanet ne. Koetan ne tietaa vienyt ei no varten se. Jaa uudesta
                        sen eri loi minulta papalla muualta kajutta hukkaan. </p>
                    </p>
                </header>
                
            </article>
            
        </div>
        
    </div>
    <footer class="clearfix">
        <p>Copyright My401k, 2013</p>
    </footer>
    
</div><!-- /.container -->
</body>
</html>
