
<div class="wrapper">

<p>Create New Content</p>
<ul class="breadcrumb">
  <li><a href="#">Section</a> <span class="divider">/</span></li>
  <li><a href="#">Layout</a> <span class="divider">/</span></li>
  <li><a href="#">Title/Body</a> <span class="divider">/</span></li>
  <li><a href="#">Tile</a> <span class="divider">/</span></li>
  <li><a href="#">Elections</a> <span class="divider">/</span></li>
  <li class="active">Finish</li>
</ul>


<p>Review and confirm your [article/blog post]</p>

<div>
  This div will contain the updated information on the document created by the plan sponsor.
</div>

<a href="#"><div class="btn pull-left">Previous</div></a>
<a href="#"><div class="btn pull-left">Preview</div></a>
<a href="#"><div class="btn pull-right">Publish</div></a>
<a href="#"><div class="btn pull-right">Save Draft</div></a>


</div><!-- /.wrapper -->