<%# default top navigation menu for all plug-in authors %>
<% top_nav_menu do %>
  <div id="header-navigation">
    <%= render 'my401k/guest/shared/top_nav_menu' %>
  </div>
<% end %>

<% content_for(:xtop_nav_menu) do %>
  
  <ul class="nav">
    <li><a href="#">What is it?</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#">How we make it easy</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#">Why do it?</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="#">Pricing &amp; Support</a></li>
    <li class="divider-vertical"></li>
    <li><a href="#">Join now</a></li>
  </ul>
  
<% end %>


<!-- ____________________________________________________MAIN CONTENT__________________________________-->

<h4><span class="lightBlue">Affordability</span> for plan sponsors commited to <span class="lightBlue">optimizing</span> the participant experience.</h4>
  <h5>Getting started</h5>
  <dl class="dl-horizontal">
    <dt>Initial sign-up fee</dt>
    <dd class="pull-right">$1,250</dd>
    <dt>Annual subscription (due upfront)</dt>
    <dd class="pull-right">$1,250</dd>
  </dl>
  <h5>Optional discounted services available at sign-up</h5>
  <dl class="dl-horizontal">
      <dt>Start-up content plug-in bundle</dt>
      <dd class="pull-right">$1,250</dd>
      <dt>Portal set-up by retirement plan consultant</dt>
      <dd class="pull-right">$5,000</dd>
      <dt>Content plug-in for 12 blog posts</dt>
      <dd class="pull-right">$600</dd>
  </dl>
  <h5>Get it for less</h5>
  <p>Allow advertising on your participant site and get a 25% discount on your annual subscription fee. Or...</p>
  <p>Include in your participant site a special offer from a sponsorting 3<span class="sup">rd</span> party and receive a credit to your account for up to $10,000</p>
  <a class="pull-right">learn more</a>
