<% title("Published Bundles", true) %>

<% content_for :side_menu do %>
  <%= render partial: "my401k/plug_in_author/manage_content/shared/menu" %>
<% end %>

<h1>My401k::PlugInAuthor::ManageContent::Bundles#published</h1>
<p>Find me in app/views/my401k/plug_in_author/manage_content/bundles/published.html.erb</p>
