<div class="wrapper">

<!-- _________________________________________FEATURED CONTENT TILES_____________________________ -->
    
  <div class="grayDividerBar">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <h4 class="grayBarText noMargin">Featured Content</h4>
  </div><!-- /.grayDividerBar -->
  
  
  <!-- _________________________________________TILE BOXES_________________________________ -->
  
  <div class="rowOfTiles marginTop">
    
    <div class="oneTile">
      <div class="theTile">
        <p>Featured Content Tile</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Featured Content Tile</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Featured Content Tile</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Featured Content Tile</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
  </div><!-- /.rowOfTiles -->
    
  <span class="clearfix"></span>
    
<!-- ____________________________________________________Learn more about your retirement plan___________________________-->
    
  <div class="grayDividerBar grayBarTopMargin">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <h6 class="grayBarText noMargin">Helpful resources to assist you with your financial planning</h6>
    <div>
      <div class="input-append grayBarSearch">
        <input class="span2 input-small" id="appendedInputButton" type="text">
        <button class="btn" type="button">Search</button>
      </div><!-- /.input-append -->
    </div>
  </div><!-- /.grayDividerBar -->
  
  
  <div class="rowOfTiles marginTop">
    
    <div class="oneTile">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
  </div><!-- /.rowOfTiles -->
  
  <span class="clearfix"></span>
  
  <div class="rowOfTiles marginTop">
    
    <div class="oneTile">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
  </div><!-- /.rowOfTiles -->
  
  <span class="clearfix"></span>
  
  <div class="rowOfTiles marginTop">
    
    <div class="oneTile">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
  </div><!-- /.rowOfTiles -->
  
  <span class="clearfix"></span>
  
  <div class="rowOfTiles marginTop">
    
    <div class="oneTile">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
    <div class="oneTile margin3">
      <div class="theTile">
        <p>Learn about your plan!</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
    
  </div><!-- /.rowOfTiles -->
  
    
</div><!-- /.wraper -->