  <dl>
    <dt>Manage Product Content Menu</dt>
      <dd>
        <div class="redSideButton">
          <%= link_to plug_in_author_manage_content_products_published_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Published</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
        <dd>
        <div class="redSideButton">
          <%= link_to plug_in_author_manage_content_products_drafted_path, class: "nav-label" do %>
            <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/red-wide-button.png' %>">
            <p class="redButtonText">Drafted</p>
          <% end %>
        </div><!-- /.redSideButon -->
      </dd>
  </dl>

