<h1>My401k::PlugInAuthor::ManageContent::Products#product_summary_by_all_categories</h1>
<p>Find me in app/views/my401k/plug_in_author/manage_content/products/product_summary_by_all_categories.html.erb</p>
