<% title("Published Products", true) %>

<% side_menu do %>
  <%= render partial: "my401k/plug_in_author/manage_content/shared/menu" %>
<% end %>

<h1>My401k::PlugInAuthor::ManageContent::Products#published</h1>
<p>Find me in app/views/my401k/plug_in_author/manage_content/products/published.html.erb</p>
