<% title("Alert Preferences", true) %>

<% content_for :side_menu do %>
<% end %>

<div class="wrapper">
  
  <div class="grayDividerBar">
    <img class="grayBarImg" src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <h3 class="grayBarText noMargin">How may My401k contact you?</h3>
  </div><!-- /.grayDividerBar -->
  <br>
  
  <div class="sectionBox boxWithPadding top">
    
    <label class="checkbox">
      <input type="checkbox">It's ok for My401kMadeEasy to contact me with information I may find useful.
    </label>
    <label class="checkbox">
      <input type="checkbox">Please alert me when my subscribed authors create new content
    </label>
    <label class="checkbox">
      <input type="checkbox">Please send me email digests
    </label>
    <label class="checkbox">
      <input type="checkbox">Please email me daily/weekly/monthly (dropdown) with new registered user alerts
    </label>
    <label class="checkbox">
      <input type="checkbox">Disable Facebook link to my401kmade easy page
    </label>
    
    <div class="btn">Save</div>
    
  </div><!-- /.sectionBox -->
  
</div><!-- /.wrapper -->
