<!-- IS THIS NEEDED?<h1>My401k::ManageProfile#basic_information</h1>-->

<% title("Basic Information", true) %>

<% content_for :side_menu do %>
<% end %>


<ul class="breadcrumb pull-right">
  <li class="active">On <span class="divider">/</span></li>
  <li><a href="#myModal" role="button" data-toggle="modal">Off</a> </li>
  
  <!-- MODAL -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Manage site status</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      <p>By turning off the site, none of your plan participants should be able to access the site. Turning off the site is sometimes
         useful when maintenance routines need to be run and you don't want your participants accessing the site during that time.</p>
      <p>A subscribed site should not typically be down for any great length of time.  While a small outages may occur from time to time,
         for longer than normal outages, there may be implications for portal owners who have negotiated a lower price by using sponsors.</p>
      <p>More importantly, you should continue to stay in touch with your plan participants and having your portal up is a great way to do that.</p>
      <h4>Are you sure you want to turn your site off?</h4>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Yes</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#myModal -->
  
</ul>
<h4 class="pull-right">The portal is:</h4>



<div class="grayDividerBar" id="planInformation">
  <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
  <p class="grayBarText">Plan Information</p>
</div>
<br>

  <form class="form-horizontal">
    
    <!-- ______________________BASIC INFORMATION____________________ -->
    
    
    <div class="sectionBox">
      
      <p class="tlb">&nbsp&nbspBasic Information&nbsp&nbsp</p>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Plan Sponsor Name:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Plan Name:</label>
        <div class="controls">
          <input type="password" id="inputPassword" placeholder="">
        </div>
      </div>
      
    </div><!-- /.sectionBox -->
    <br>
    
    
    <!-- __________________ADMINISTRATOR INFORMATION_________________ -->
    <div class="sectionBox">
      
      <p class="tlb">&nbsp&nbspAdministrator Information&nbsp&nbsp</p>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Name:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Address:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Phone:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
    </div><!-- /.sectionBox -->
    <br>
    
    <!-- _______________________REPLACEMENT ADMINISTRATOR INFORMATION_______________________ -->
    
    <div class="sectionBox">
      
      <p class="tlb">&nbsp&nbspReplacement Administrator Information&nbsp&nbsp</p>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Name:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Address:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Phone:</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="">
        </div>
      </div>
    </form>
  
  </div><!-- /.sectionBox -->
  <br>
    
    <!-- _____________________BUTTONS______________ -->
  <br>
  <form class="form-inline">
    <label class="checkbox">
      <input type="checkbox"> Link Twitter Account
    </label>
    <input type="text" class="input-small" placeholder="Enter account id">
    <button type="submit" class="btn pull-right">Update</button>
  </form>
