<% title("Participant Access Control", true) %>

<% content_for :side_menu do %>
<% end %>

<div class="wrapper">
    
  <div class="grayDividerBar">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <h4 class="grayBarText noMargin">How do you want to provide access to your plan portal</h4>
  </div><!-- /.grayDividerBar -->
  <br>
  
  <!-- _______________________Plan participant authentication_____________________ -->
  
  <div class="sectionBox boxWithPadding">
    <p class="tlb">Plan participant authentication</p>
     <label class="checkbox">
      <input type="checkbox"> Anyone can register anytime
     </label>
     <label class="checkbox">
      <input type="checkbox"> Allow anyone to request an invite
     </label>
     <label class="checkbox">
      <input type="checkbox"> Enable access link
     </label>
     <p>Copy the following text and paste in your email:</p>
     <textarea rows="1" class="input-block-level">
     </textarea>
     <span class="clearfix"></span>
     
     <a href="#" class="btn pull-left">Copy Link</a>
     <a href="#" class="btn pull-right">Save</a>
     <span class="clearfix"></span>
  </div>
  
  <!-- __________________Plan participant access status___________________ -->
  
  <div class="grayDividerBar grayBarTopMargin">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <h4 class="grayBarText noMargin">Plan participant access status</h4>
    <div>
      <a href="#myModal" role="button" data-toggle="modal"><i class="icon-filter pull-right"></i></a>
      <div class="input-append grayBarSearch">
        <input class="span2" id="appendedInputButton" type="text">
        <button class="btn" type="button">Search</button>
      </div><!-- /.input-append -->
    </div>
  </div><!-- /.grayDividerBar -->
  
      <!-- MODAL -->
      
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Filter Plan Participants</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <p>Select the criteria by which you would like to filter.</p>
      
      <select>
        <option>Date registered</option>
        <option>Number of log-ins</option>
        <option>Access granted</option>
        <option></option>
      </select>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Filter</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#myModal -->
       
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Select</th>
        <th>Full Name</th>
        <th>Date Registered</th>
        <th>Number of Log-Ins</th>
        <th>Access Granted?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </td>
        <td>Stephen Williams</td>
        <td>11 October, 2013</td>
        <td>15</td>
        <td>Yes</td>
        <td>Password Reset, Grant/Reject</td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </td>
        <td>John Sommers</td>
        <td>29 July, 2013</td>
        <td>28</td>
        <td>Yes</td>
        <td>Password Reset, Grant/Reject</td>
      </tr>
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox">
          </label>
        </td>
        <td>Susanne Quincy</td>
        <td>--</td>
        <td>0</td>
        <td>No</td>
        <td>Password Reset, Grant/Reject</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</div><!-- /.wrapper -->
