// Place all the styles related to the My401k::PlanSponsor::CreateNewContent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  <div class="product-tile">
    <div class="product-icon"></div>
    <h3 class="product-title"></h3>
    <div class="product-content"></div>
  </div>
*/

.product-tile{
  position: relative;
  width: 180px;
  height: 200px;
  background-color: silver;

  [class*="product"]{
    position: absolute;
  }

  .product-icon{
  }

  .product-title{
  }

  .product-content{
  }
}

