<h1>My401k::ManageProfile#basic_information</h1>

<% title("Basic Information", true) %>

<% content_for :side_menu do %>
  <dl>
    <dt>Manage Profile Menu</dt>
      <dd><a href="#">Basic Information</a></dd>
      <dd><a href="#">Admin Delegates</a></dd>
      <dd><a href="#">Portal Branding</a></dd>
      <dd><a href="#">Part. Access Control</a></dd>
      <dd><a href="#">Subscription Status</a></dd>
      <dd><a href="#">Sponsor Contacts</a></dd>
      <dd><a href="#">Alert Preferences</a></dd>
  </dl>
<% end %>


<div class="sectionBox" id="planInformation">
  <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
  <p>Plan Information</p>
</div>

  <form class="form-horizontal">
    
    <!-- ______________________BASIC INFORMATION____________________ -->
    
    <div class="control-group">
      <p>Basic Information</p>
      <label class="control-label" for="inputEmail">Plan Sponsor Name:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputPassword">Plan Name:</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="">
      </div>
    </div>
    
    <!-- __________________ADMINISTRATOR INFORMATION_________________ -->
    
    <div class="control-group">
      <p>Administrator Information</p>
      <label class="control-label" for="inputEmail">Name:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Address:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Phone:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <!-- _______________________REPLACEMENT ADMINISTRATOR INFORMATION_______________________ -->
    
    <div class="control-group">
      <p>Replacement Administrator Information</p>
      <label class="control-label" for="inputEmail">Name:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Address:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="inputEmail">Phone:</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>
  </form>
    
    <!-- _____________________BUTTONS______________ -->
  <br>
  <form class="form-inline">
    <label class="checkbox">
      <input type="checkbox"> Link Twitter Account
    </label>
    <input type="text" class="input-small" placeholder="Enter account id">
    <button type="submit" class="btn">Update</button>
  </form>