<h1>My401k::ManageProfile#portal_branding</h1>

<% content_for :side_menu do %>
  <dl>
    <dt>Manage Profile Menu</dt>
      <dd><a href="#">Basic Information</a></dd>
      <dd><a href="#">Admin Delegates</a></dd>
      <dd><a href="#">Portal Branding</a></dd>
      <dd><a href="#">Part. Access Control</a></dd>
      <dd><a href="#">Subscription Status</a></dd>
      <dd><a href="#">Sponsor Contacts</a></dd>
      <dd><a href="#">Alert Preferences</a></dd>
  </dl>
<% end %>

<div class="wrapper">
  
  <!-- _____________LOGO______________ -->
  
  <div class="sectionBox">
    <div class="grayDividerBar">
      <img src=<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %> >
      <p>Logo</p>
    </div><!-- /.grayDividerBar -->
    <img src="#" >
    <p>This logo will be featured on the official plan portal seen by your participants. View example <a href="#">here</a>.</p>
    <p>Click on the logo or the 'Change Logo' button to make a change.</p>
    <div class="btn"><a href="#">Change Logo</a></div>
  </div><!-- /.statusBar #mngAdminDelegates -->
  
  <!-- ______________COLOR PALETTE_______________ -->
  
  <div class="sectionBox">
    
    <div class="grayDividerBar">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p>Color Palette</p>
    </div><!-- /.grayDividerBar -->
    <select multiple="multiple">
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    </select>
  
    <p>This two-toned color palete will be used throughout the official plan portal seen by your participants. See example <a href="#">here</a>.</p>
    <p>To choose a different scheme, select an option and press the 'Select Color' button.</p>
    
    <div class="btn"><a href="#">Select Color</a></div>
    
  </div><!-- /.statusBar -->
  
  <!-- __________________SPONSOR LOGO_______________ -->
  
  <div class="sectionBox">
    <div class="grayDividerBar">
      <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
      <p>Logo</p>
    </div><!-- /.grayDividerBar -->
    <img src="<%= asset_path 'buttonBarImgs/gray-divider.png' %>">
    <p>If someone has sponsored your My401k membership, you may upload the sponsor's logo here.</p>
    <p>This logo will be featured on the official plan portal seen by your participants. View example <a href="#">here</a>.</p>
    <p>Click on the logo or the 'Change Logo' button to make a change.</p>
    <div class="btn"><a href="#">Change Logo</a></div>
  </div><!-- /.statusBar #mngAdminDelegates -->
  
</div><!-- /.wrapper -->
