<h1>My401k::ManageProfile#sponsor_contacts</h1>

<div class="wrapper">
  
  <div class="grayDividerBar">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p>Manage sponsor contacts</p>
  </div><!-- /.grayDividerBar -->
  
  <div class="sectionBox">
    
    <p>Add new sponsor contact</p>
    <a href="#"><img src="<%= asset_path 'beta/plus.png' %>"></a>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>-</th>
          <th>Public</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </td>
          <td>Marcus Svellium</td>
          <td>marcus.svellium@email.com</td>
          <td>Flagship plan provider</td>
          <td>Send password reset, edit, delete</td>
        </tr>
      </tbody>
    </table>
    
  </div><!-- /.sectionBox -->
  
</div><!-- /.wrapper -->
