<% title("Emergency Message", true) %>

<% content_for :side_menu do %>
<% end %>

<div class="wrapper">
  
  
  <!-- _____________ WHAT CONTENT PRODUCTS ARE BEING WORKED ON? ___________ -->
  
  <p class="pull-left">View live portal</p>
  <p class="pull-right">Add new content</p>
  
  <div class="grayDividerBar">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">Manage emergency message</p>
  </div><!-- /.grayDividerBar -->
  <br>
  
  <p>Your portal is not currently using an emergency message.</p>
  
  <p>Message *</p>
  <textarea class="input-block-level" rows="7" placeholder="Please write your emergency message here..."></textarea>
  
  <p>Publish on:</p>
  <input type="text" placeholder="DD/MM/YY">
  <p>Un-Publish on:</p>
  <input type="text" placeholder="DD/MM/YY">
    
  <div class="btn btn-large">Remove emergency message</div>
  <div class="btn btn-large">Create emergency message</div>
  
  <a href="#">Show emergency message log</a>
  
</div><!-- /.wrapper -->
