<% title("Live Published Content", true) %>

<% content_for :side_menu do %>
<% end %>

<div class="wrapper">
  
  
  <!-- _____________ WHAT CONTENT PRODUCTS ARE BEING WORKED ON? ___________ -->
  
  <a class="btn btn-success pull-left">
    View live portal
  </a>
  <a class="btn pull-right">
    Add new content
    <img src="<%= asset_path 'beta/plus.png' %>">
  </a>
  <span class="clearfix"></span>
  
  <div class="grayDividerBar marginTop">
    <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
    <p class="grayBarText">Configure your quick links</p>
  </div><!-- /.grayDividerBar -->
  <br>
    
  <form>
    <fieldset>
      
      
      <div class="accordion" id="accordionQuickLinks">
        <div class="accordion-group">
          <div class="accordion-heading">
            <label class="checkbox">
              <input type="checkbox" class="accordion-toggle" data-toggle="collapse" data-parent="accordionQuickLinks" href="collapseOne"> Forms - upload form (beneficiaries, contributions changes, etc.)
            </label>
          </div><!-- /.accordion-heading -->
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              
              
              <a href="#">Show forms (xx of yy are visible to participants)</a>
              <table class="table table-hover">
                <caption>...</caption>
                <thead>
                  <tr>
                    <th><input type="checkbox"></th>
                    <th>Public</th>
                    <th>Title *</th>
                    <th>What for</th>
                    <th>Resource(s) *</th>
                    <th>Instructions</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"</td>
                    <td>Nullam Dictum</td>
                    <td>Blah blah blah blah</td>
                    <td><p>Stuff Stuff Stuff</p><p>Stuff stuff stuff</p></td>
                    <td>Yada yada yada yada</td>
                    <td><a href="#">Send password reset</a>, <a href="#">edit</a>, <a href="#">delete</a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"</td>
                    <td>Nullam Dictum</td>
                    <td>Blah blah blah blah</td>
                    <td><p>Stuff Stuff Stuff</p><p>Stuff stuff stuff</p></td>
                    <td>Yada yada yada yada</td>
                    <td><a href="#">Send password reset</a>, <a href="#">edit</a>, <a href="#">delete</a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"</td>
                    <td>Nullam Dictum</td>
                    <td>Blah blah blah blah</td>
                    <td><p>Stuff Stuff Stuff</p><p>Stuff stuff stuff</p></td>
                    <td>Yada yada yada yada</td>
                    <td><a href="#">Send password reset</a>, <a href="#">edit</a>, <a href="#">delete</a></td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"</td>
                    <td>Nullam Dictum</td>
                    <td>Blah blah blah blah</td>
                    <td><p>Stuff Stuff Stuff</p><p>Stuff stuff stuff</p></td>
                    <td>Yada yada yada yada</td>
                    <td><a href="#">Send password reset</a>, <a href="#">edit</a>, <a href="#">delete</a></td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.accordion-inner -->
          </div><!-- /#collapseOne -->
        </div><!-- /.accordion-group -->
      </div><!-- /.accordion -->
      
      
     <!-- <div name="quicklinkDivs"> -->
        
      <!-- </div><!-- /quicklinkDivs -->
      
      
      
      <div name="quicklinksDiv">
        <label class="checkbox">
          <input type="checkbox"> Key contacts - feed from contact date in profile (needs to look more user friendly for participant view)
        </label>
      </div><!-- /quicklinksDiv -->
      
      
      
      <div name="quicklinksDiv">
        <label class="checkbox">
          <input type="checkbox"> Access [provider's name] website - Enter url
        </label>
        <input type="text" placeholder="Your company's website...">*
      </div><!-- /quicklinksDiv -->
      
      
      <div name="quicklinksDiv">
        <label class="checkbox">
          <input type="checkbox"> Get professional help (generate form to forward to pro) - need to link to a professional of sponsor's choosing
        </label>
        <input type="text" placeholder="Professional advisor's email address...">*
      </div><!-- /quicklinksDiv -->
      
      
      <div name="quicklinksDiv">
        <label class="checkbox">
          <input type="checkbox"> Feedback / Question (need to create process)
        </label>
        <input type="text" placeholder="Email address to receive feedback...">*
      </div><!-- /quicklinksDiv -->
      
      
      <div name="quicklinksDiv">
        <label class="checkbox">
          <input type="checkbox"> Enroll in the company's retirement plan
        </label>
        <input type="text" placeholder="Page location...">*
      </div><!-- /quicklinksDiv -->
      
      
      <button type="submit" class="btn">Update Quick Links</button>
    </fieldset>
  </form>
    
</div><!-- /.wrapper -->
