  <% popups.each do |popup_id, image_pth| %>
    <!-- Modal -->
    <div id="<%= popup_id %>" class="popup modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <%= image_tag asset_path(image_pth) %>
      </div>
    </div>
  <% end %>

