<h1>My401k::ProfessionalHelp#index</h1>
<p>Find me in app/views/my401k/professional_help/index.html.erb</p>

<!-- ________________GET PROFESSIONAL HELP HERE________________ -->

<div class="grayDividerBar">
  <img src="<%= asset_path 'buttonBarImgs/gray-divider-bar.png' %>">
  <p class="grayBarText">Need some assistance?  Get some professional help here.</p>
</div><!-- /.grayDividerBar -->
<br>



<p>Click desired professional service to start your request.</p>

<div class="rowOfTiles">
    
    
<!-- ______________________________ROW ONE________________________ -->    
    
    
    
<!-- _______________________________________________________ TILE 1 ______________________________________________ -->
    
  <a href="#contentGeneration" role="button" data-toggle="modal">
    <div class="oneTile">
      <div class="theTile2">
        <p>Custom Portal Content Generation</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  <!-- MODAL #contentGeneration-->
  
  <div id="contentGeneration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Custom Portal Content Generation</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for custom portal content generation</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
  
  
    
<!-- _________________________________________________ TILE 2 _________________________________________________ -->
    
  <a href="#investmentMenuConsulting" role="button" data-toggle="modal">
    <div class="oneTile margin4">
      <div class="theTile2">
        <p>Investment Menu Consulting</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #investmentMenuConsulting-->
  
  <div id="investmentMenuConsulting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Investment Menu Consulting</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for investment menu consulting</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
    
<!-- _______________________________________________ TILE 3 __________________________________________ -->
    
  <a href="#providerDueDilligenceConsulting" role="button" data-toggle="modal">
    <div class="oneTile margin4">
      <div class="theTile2">
        <p>Provider Due Dilligence Consulting</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #providerDueDiligenceConsulting-->
  
  <div id="providerDueDilligenceConsulting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Provider Due Dilligence Consulting</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for provider due dilligence consulting</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
    
    
<!-- ___________________________________________________ TILE 4 _____________________________________________________ -->

<a href="#vendorSearchConsulting" role="button" data-toggle="modal">
    <div class="oneTile margin4">
      <div class="theTile2">
        <p>Vendor Search Consulting</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #vendorSearchConsulting-->
  
  <div id="vendorSearchConsulting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Vendor Search Consulting</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for vendor search consulting</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
    
    
<!-- ____________________________________________________ TILE 5 ____________________________________________________ -->
    
    
<a href="#participantEducationResources" role="button" data-toggle="modal">
    <div class="oneTile margin4">
      <div class="theTile2">
        <p>Participant Education Resources</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #participantEducationResources-->
  
  <div id="participantEducationResources" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Participant Education Resources</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for participant education resources</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->

</div><!-- /.rowOfTiles -->
    <!-- _____________________________ROW TWO________________________-->


<div class="rowOfTiles">
    
<!-- _____________________________________________________ TILE 6 ________________________________________________ -->
    
<a href="#participantAdviceResources" role="button" data-toggle="modal">
    <div class="oneTile marginTop">
      <div class="theTile2">
        <p>Participant Advice Resources</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #participantAdviceResources-->
  
  <div id="participantAdviceResources" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Participant Advice Resources</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for participant advice resources</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
<!-- ____________________________________________________ TILE 7 ___________________________________________ -->
    
  <a href="#planDesignConsulting" role="button" data-toggle="modal">
    <div class="oneTile margin4 marginTop">
      <div class="theTile2">
        <p>Plan Design Consulting</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #planDesignConsulting-->
  
  <div id="planDesignConsulting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Plan Design Consulting</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for plan design consulting</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
    
<!-- __________________________________________________ TILE 8 ___________________________________________ -->
    
  <a href="#annualTrusteeMeetingSupport" role="button" data-toggle="modal">
    <div class="oneTile margin4 marginTop">
      <div class="theTile2">
        <p>Annual Trustee Meeting Support</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #annualTrusteeMeetingSupport-->
  
  <div id="annualTrusteeMeetingSupport" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Annual Trustee Meeting Support</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for annual trustee meeting support</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
  
  
<!-- _______________________________________________ TILE 9 ______________________________________________ -->
    
  <a href="#planTrusteeTraining" role="button" data-toggle="modal">
    <div class="oneTile margin4 marginTop">
      <div class="theTile2">
        <p>Plan Trustee Training</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #planTrusteeTraining-->
  
  <div id="planTrusteeTraining" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Plan Trustee Training</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for plan trustee training</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
    
<!-- _______________________________________________ TILE 10 ______________________________________________ -->    

  <a href="#otherPlanSponsorServices" role="button" data-toggle="modal">
    <div class="oneTile margin4 marginTop">
      <div class="theTile2">
        <p>Other Plan Sponsor Services</p>
      </div><!-- /.theTile -->
    </div><!-- /.oneTile -->
  </a>
  
  
  <!-- MODAL #otherPlanSponsorServices-->
  
  <div id="otherPlanSponsorServices" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Other Plan Sponsor Services</h3>
    </div><!-- /.modal-header -->
    <div class="modal-body">
      
      <h4>Request professional help for other plan sponsor services</h4>
      <p>Professional help service description here. Professional help service description here. Professional help service description here.</p>
      
      <form class="form-horizontal">
        
        <div class="control-group">
          <label class="control-label" for="yourName">Your name:</label>
          <div class="controls">
            <input type="text" id="yourName" placeholder="Name...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="phone">Phone:</label>
          <div class="controls">
            <input type="text" id="phone" placeholder="Phone...">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="email">Email:</label>
          <div class="controls">
            <input type="text" id="email" placeholder="Email...">
          </div>
        </div>
        
        <p>Questions/comments</p>
        
        <textarea class="input-block-level" rows="5" type="text" placeholder="Enter your questions or comments here..."></textarea>
        
      </form>
      
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary">Request Help</button>
    </div><!-- /.modal-footer -->
  </div><!-- /#contentGeneration -->
    
</div><!-- /.rowOfTiles -->