// Place all the styles related to the My401k::CreateNewContent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ____________________SECTION CSS_____________________ */


/* data storage: id for the product currently being edited */
#current-product-id{
  /* display: none; */
}


.mainSectionArticle {
  margin-left: 0;
}
.mainSectionArticle + .mainSectionArticle {
  margin-left: 1em;
}

.mainSectionTiles {
  border: 1px solid #888;
  width: 260px;
  padding: 1em;
}

.mainSectionTiles p{
  height: 2em;
}

.mainSectionTile input[type="radio"] {
  display: none; 
}

.mainSectionTile {
  position: relative;
  height: 100px;
  width: 100px;
  // background-color: #AAA;
  // border: 1px solid black;
  padding: 1em;
  margin: 0 auto;
}

.Small {
  width: 130px;
}

.drawn-circle{
  background: url('/assets/plan_sponsor/drawn_circle.png') no-repeat transparent;
  width: 145px; 
  height: 86px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.layoutTileRow .drawn-circle{
  left: 77px; top: 86px;
}

/* ____________________BOTTOM NAV BUTTONS CSS_____________________ */

.navbar .container.bottom-nav{
  width: 100%;
  float: left;
  margin-top: 1em;

  .pull-left{
    margin-left: 0;
  }
}

/*__________________________LAYOUT CSS______________________*/

.layoutTile {
  height: 200px;
  width: 150px;
  background-color: #AAA;
}


/*______________________PREVIEW TILE____________________*/

.tilePreview {
  position: relative;
}

.tilePreviewTile {
  
}

.tilePreviewIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}
