// Place all the styles related to the My401k::Guest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my401k-guest{
  
  body {
      margin-top: 20px;
  }
 
  .tall {
    background-color: white;
    border: 1px solid black;
    left: 782px;
    min-height: 450px;
    position: absolute;
    top: 19px;
    width: 190px;
  }
  .centered {
      margin: 29px;
      position: static;
  }
  .bordered {
      background-color: white;
      border: 1px solid #EEEEEE;
  }
  .relative {
      position: relative;
  }
  .relative0 {
      bottom: 0;
      position: relative;
  }
  .marginLeft {
      margin: 20px 20px 47px;
  }
  .lightBlue {
      color: #6666DD;
  }
  .red {
      color: red;
  }
  
  /******************************* main content section */
  .row-main{
    margin-bottom: 2em;
  }

  /******************************* navigation buttons */
  .navbar {
    margin: 0 0 0 20px;
    width: 763px;
  }

  #header-navigation{
    padding-top: 1em;
  }

  .header-navigation .button, #header-navigation .button {
    height: 58px;
  }

  /******************************* top header login bar */
  #header {
    height: 57px;
  }

  div.top-bar {
    width: auto;
  }

  /******************************* footer */
  .bottom-bar{
    width: auto;
  }

} /* /.my401k-guest */
