// Place all the styles related to the My401k::PromotePlanPortal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.printMaterialDiv {
  clear: both;
}

.printMaterialImg {
  clear: both;
}

.resize1 {
  width: 166px;
  height: 125px;
}

.marginPPP {
  margin-left: 180px;
  padding-right: 15px;
}


/* _________________________________ENROLLMENT SUPPORT CSS_____________________________*/

.sectionBoxEnrollmentSupport {
  border: 1px solid black;
  padding: 5px 15px;
  margin: 10px auto;
  width: 94%;
}