<h1>My401k::PlugInAuthor::ManageContent::DraftedProducts#product_summary_by_type_main_section</h1>
<p>Find me in app/views/my401k/plug_in_author/manage_content/drafted_products/product_summary_by_type_main_section.html.erb</p>
